<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact App - Editando usuario seleccionado</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <Header class="header">
        <h1 class="titulo">Contact App</h1>
    </Header>
    <main class="main">
        <form action="/users/edit/update/{{user.0}}" method="POST" class="form">
            <div>
                <label for="name" class="labels">Nombre:</label>
                <input type="text" id="name" name="name" required class="my-input" placeholder="Ingrese su Nombre completo" value="{{user.1}}">
            </div>
            <div>
                <label for="email" class="labels">Email:</label>
                <input type="email" id="email" name="email" required class="my-input" placeholder="Ingrese su Correo electronico" value="{{user.2}}">
            </div>
            <button class="button">Guardar</button>
        </form>
    </main>
</body>
</html>